<launch>
    <include file="$(find dlib_puppeteering)/launch/camera.launch"/> <!--camera-->
    <node name="dlib_puppeteering_node" pkg="dlib_puppeteering" type="dlib_puppeteering_node" output="screen"/>
    <!-- name="pupeteery_cores" overwrites the name under initnode in python -->
    <node pkg="dlib_puppeteering" name="dlib2blender_mapper" type="mapper.py" output="screen" />
  <!--  <node name="dlib_listener_node" pkg="dlib_puppeteering" type="dlib_listener_node" output="screen"/> -->
  <!--  <node name="dlib_mapper" pkg="dlib_puppeteering" type="blendshapes_mapper.py" output="screen"/> -->
</launch>
